
.gitattributes
*.meta
*.unity
*.cache
*.json
*.bin
*.scene
*.ttf
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj


Temp/
 
Obj/
 
UnityGenerated/
ProjectSettings/ 
Library/

Assets/TextMesh Pro/
Assets/Imported/
Assets/Animation/
Assets/Textures/
Assets/Model/
Assets/Scenes/
Assets/Shader/
Assets/TinyDungeons/
Assets/Theme/
Assets/Material/
Assets/Prefap/
Assets/Standard Assets/
Assets/새 폴더/
Assets/Sound/
Logs/
UserSettings/
.vs/